version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: mechanic-finder-db
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mechanic_finder
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
